<div class="container">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com" autocomplete="off"
        formControlName="email">
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" placeholder="The name" autocomplete="off"
        formControlName="name">
    </div>

    <button type="submit" class="btn btn-primary mr-3">Filter</button>
    <button type="button" class="btn btn-secondary" (click)="clear()" >Limpar</button>

  </form>

  <div class="history">
    <h2>Histórico</h2>
    <p *ngFor="let data of dataList">{{ data }}</p>
  </div>

</div>


<router-outlet></router-outlet>
